*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: #f5f7f5; 
}
:root{
    --logo: #323233;
    --links: #383030;
    --title: #556362;
    --bg-sections: #ffffff;
    --paragrhap: #085b92;
    --other: #080d57;
}